<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>리뷰 상세 페이지</title>
</head>
<body>
 <div class="container">
     <!-- 리뷰글 내용 -->
     <p><b>제목 : </b><span th:text="${reviewDTO.title}"></span></p>
     <p><b>작성자 : </b><span th:text="${reviewDTO.user.loginId}"></span></p>
     <p><b>작성일 : </b><span th:text="${#temporals.format(reviewDTO.created_at, 'yyyy-MM-dd')}"></span></p>
     <p th:if="${review.updated_at != null}">
         <b>수정일 : </b><span th:text="${#temporals.format(reviewDTO.updated_at, 'yyyy-MM-dd')}"></span>
     </p>
     <p><b>주소 : </b><span th:text="${reviewDTO.address}"></span></p>
     <p><b>별점 : </b><span th:text="${reviewDTO.point}"></span></p>
     <p><b>장점 : </b></p>
     <ul>
         <li th:each="${pros : reviewDTO.prosList}">
             <span th:text="${pros.attribute}"></span>
         </li>
     </ul>
     <p><b>단점 : </b></p>
     <ul>
         <li th:each="${cons : reviewDTO.consList}">
             <span th:text="${cons.attribute}"></span>
             </li>
     </ul>

     <hr>
     <div th:if="${not #lists.isEmpty(reviewDTO.fileList)}" class="attachedFiles">
         <b>첨부 파일 : </b>
         <ul>
             <li th:each="${file : reviewDTO.fileList}">
                <div th:text="${#strings.endsWith(file.original_name,'.jpg')
                    or #strings.endsWith(file.original_name,'.png')
                    or #strings.endsWith(file.original_name,'.gif')}">
                    <img width="20%" th:src="@{/images/${fileId}(fileId=${file.id})}" class="img-fluid rounded mb-3" alt="첨부된 파일">
                </div>
             </li>
         </ul>
     </div>

     <hr>
     <p><b>리뷰 내용 : </b><textarea th:text="${reviewDTO.content}"></textarea></p>

     <!-- 댓글 보여주기 -->
     <hr>
     <p>댓글</p>
     <ul>
         <li th:each="${reply : reviewDTO.replyList}">
             <p><span th:text="${reply.content}"></span></p>
             <p><b>작성자 : </b><span th:text="${reply.userId}"></span></p>
         </li>
     </ul>

     <!-- 댓글 작성하기 -->
     <hr>
     <div sec:authorize="isAuthenticated()">
         <form th:action="@{/review/reply}" method="post">
             <input type="hidden" name="reviewId" th:value="${reviewDTO.id}">
             <p>
                 <textarea name="content" rows="2" style="width: 100%;" placeholder="따뜻한 댓글을 남겨주세요."></textarea>
             </p>
             <button type="submit" class="btn btn-primary">댓글 등록</button>
         </form>
     </div>
     <!-- 비로그인시 로그인창으로 이동 -->
    <div sec:authorize="isAnonymous()"><p><a th:href="@{/user/login}">로그인</a>을 하시면 댓글을 남길 수 있습니다.</p>
    </div>
     <hr>
     <a th:href="@{/review/list}">리뷰목록으로 이동</a>

     <!-- 작성자일 경우 리뷰 수정, 삭제 버튼 보여주기 -->
     <th:block sec:authorize="isAuthenticated()" th:if="${#authentication.role == reviewDTO.user.loginId}">
        <a th:href="@{/review/edit/${review.id}}" class="btn btn-primary">수정</a>
         <form th:action="@{/review/delete/${review.id}}" method="post"
         onsubmit="return confirm('정말 삭제하시겠습니까?')" style="display: inline">
             <button type="submit" class="btn btn-danger">삭제</button>
         </form>
     </th:block>

 </div>
</body>
</html>