<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>리뷰 상세 페이지</title>
</head>
<body>
<div class="container">
    <!-- 리뷰글 내용 -->
    <p><b>제목 : </b><span th:text="${reviewDTO.title}"></span></p>
    <p><b>작성자 : </b><span th:text="${reviewDTO.loginId}"></span></p>
    <p><b>작성일 : </b><span th:text="${#temporals.format(reviewDTO.createdAt, 'yyyy-MM-dd')}"></span></p>
    <p th:if="${reviewDTO.updatedAt != null}">
        <b>수정일 : </b><span th:text="${#temporals.format(reviewDTO.updatedAt, 'yyyy-MM-dd')}"></span>
    </p>
    <p><b>주소 : </b><span th:text="${reviewDTO.address}"></span></p>
    <p><b>별점 : </b><span th:text="${reviewDTO.point}"></span></p>
    <p><b>장점 : </b></p>
    <ul>
        <li th:each="pros : ${reviewDTO.prosList}">
            <span th:text="${pros}"></span>
        </li>
    </ul>
    <p><b>단점 : </b></p>
    <ul>
        <li th:each="cons : ${reviewDTO.consList}">
            <span th:text="${cons}"></span>
        </li>
    </ul>

    <hr>
    <div th:if="${not #lists.isEmpty(reviewDTO.fileList)}" class="attachedFiles">
        <b>첨부 파일 : </b>
        <ul>
            <li th:each="file : ${reviewDTO.fileList}">
                <div th:if="${#strings.endsWith(file.filePath,'.JPG')
                    or #strings.endsWith(file.filePath,'.png')
                    or #strings.endsWith(file.filePath,'.gif')}">
                    <img width="20%" th:src="@{/display(fileId=${file.filePath})}" class="img-fluid rounded mb-3"
                         alt="첨부된 파일">
                </div>
            </li>
        </ul>
    </div>

    <hr>
    <p><b>리뷰 내용 : </b></p>
    <div th:utext="${reviewDTO.content}" class="review-content"></div>

    <!-- 댓글 보여주기 -->
    <hr>
    <p>댓글</p>
    <ul>
        <li th:each="reply : ${reviewDTO.replyList}">
            <div th:id="|display-${reply.id}|">
                <p><span th:text="${reply.content}"></span></p>
                <p><b>작성자 : </b><span th:text="${reply.loginId}"></span></p>

                <th:block sec:authorize="isAuthenticated()" th:if="${#authentication.name == reply.loginId}">
                    <button type="button" th:onclick="|showEditForm(${reply.id})|">수정</button>
                    <form th:action="@{/reply/delete}" method="post" style="display:inline;">
                        <input type="hidden" name="replyId" th:value="${reply.id}">
                        <input type="hidden" name="targetType" value="review">
                        <input type="hidden" name="targetId" th:value="${reviewDTO.id}">
                        <input type="hidden" name="userId" th:value="${reply.userId}">
                        <button type="submit" onclick="return confirm('삭제하시겠습니까?')">삭제</button>
                    </form>
                </th:block>
            </div>

            <div th:id="|editForm-${reply.id}|" style="display: none;">
                <form th:action="@{/reply/edit}" method="post">
                    <input type="hidden" name="id" th:value="${reply.id}">
                    <input type="hidden" name="targetType" value="review">
                    <input type="hidden" name="targetId" th:value="${reviewDTO.id}">
                    <textarea name="content" th:text="${reply.content}" rows="2" style="width:80%"></textarea>
                    <button type="submit" class="btn btn-primary">저장</button>
                    <button type="button" th:onclick="|hideEditForm(${reply.id})|">취소</button>
                </form>
            </div>
        </li>
    </ul>

    <!-- 댓글 작성하기 -->
    <hr>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/reply/write}" method="post">
            <input type="hidden" name="targetType" value="review">
            <input type="hidden" name="targetId" th:value="${reviewDTO.id}">
            <p>
                <textarea name="content" rows="2" style="width: 100%;" placeholder="따뜻한 댓글을 남겨주세요."></textarea>
            </p>
            <button type="submit" class="btn btn-primary">댓글 등록</button>
        </form>
    </div>
    <!-- 비로그인시 로그인창으로 이동 -->
    <div sec:authorize="isAnonymous()"><p><a th:href="@{/user/login}">로그인</a>을 하시면 댓글을 남길 수 있습니다.</p>
    </div>
    <hr>
    <a th:href="@{/review}">리뷰목록으로 이동</a>

    <!-- 작성자일 경우 리뷰 수정, 삭제 버튼 보여주기 -->
    <th:block sec:authorize="isAuthenticated()" th:if="${#authentication.name == reviewDTO.loginId}">
        <a th:href="@{|/review/edit/${reviewDTO.id}|}" class="btn btn-primary">수정</a>
        <form th:action="@{/review/delete/{id}(id=${reviewDTO.id})}" method="post"
              onsubmit="return confirm('정말 삭제하시겠습니까?')" style="display: inline">
            <button type="submit" class="btn btn-danger">삭제</button>
        </form>
    </th:block>

</div>


<script>
    function showEditForm(id) {
        document.getElementById('display-' + id).style.display = 'none';
        document.getElementById('editForm-' + id).style.display = 'block';
    }
    function hideEditForm(id) {
        document.getElementById('display-' + id).style.display = 'block';
        document.getElementById('editForm-' + id).style.display = 'none';
    }
</script>
</body>
</html>