<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daedong.zipmap.mapper.AlarmMapper">

    <select id="selectSubscribersByPostContent" resultType="string">
        SELECT user_id
        FROM keyword_subscription
        WHERE target_type = 'post'
        AND ( #{title} LIKE CONCAT('%', keyword, '%')
            OR #{content} LIKE CONCAT('%', keyword, '%') )
        AND created_at <![CDATA[ <= ]]> #{createdAt}
    </select>

</mapper>