<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daedong.zipmap.mapper.CrimeStatsMapper">

    <!-- 범죄 데이터 저장 -->
    <insert id="insertCrime" parameterType="map">
        INSERT INTO crime_stats(region, crime_count, lat, lng)
        VALUES(#{region}, #{crimeCount}, #{lat}, #{lng})
    </insert>

    <!-- 서울 구별 범죄 데이터 조회 -->
    <select id="getAllSeoulCrime" resultType="com.daedong.zipmap.domain.CrimeStat">
        SELECT region, crime_count AS crimeCount, lat, lng
        FROM crime_stats
        WHERE region IS NOT NULL
        ORDER BY region
    </select>

</mapper>
