<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daedong.zipmap.mapper.FileMapper">

    <insert id="insertAttachment" parameterType="com.daedong.zipmap.domain.File" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file_attachment (
        target_type, target_id,
        file_path, file_size
        ) VALUES (
        #{targetType}, #{targetId},
        #{filePath}, #{fileSize}
        )
    </insert>

    <select id="findAttachments" resultType="com.daedong.zipmap.domain.File">
        SELECT * FROM file_attachment
        WHERE target_type = #{targetType}
        AND target_id = #{targetId}
    </select>

    <select id="findAttachmentById" resultType="com.daedong.zipmap.domain.File">
        SELECT * FROM file_attachment WHERE id = #{id}
    </select>

    <delete id="deleteAttachment">
        DELETE FROM file_attachment WHERE id = #{id}
    </delete>

    <delete id="deleteAttachmentsByTarget">
        DELETE FROM file_attachment
        WHERE target_type = #{targetType}
        AND target_id = #{targetId}
    </delete>

</mapper>