<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daedong.zipmap.mapper.NoticeMapper">

    <select id="findCurrentNoticeList" resultType="com.daedong.zipmap.domain.Notice">
        SELECT
        n.id,
        n.title,
        n.link_url,
        n.status,
        n.start_date,
        n.end_date,
        n.pos_top,
        n.pos_left,
        n.priority,
        f.file_path AS imagePath  FROM notice n
        LEFT JOIN file f
        ON f.target_type = 'NOTICE'
        AND f.target_id = n.id
        WHERE n.status='Y'
        AND NOW() BETWEEN n.start_date AND n.end_date
        ORDER BY n.priority DESC, n.id DESC
    </select>

    <insert id="insertNotice" parameterType="com.daedong.zipmap.domain.Notice"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO notice
        (title, image_path, link_url, status, start_date, end_date, pos_top, pos_left, priority, created_at, updated_at)
        VALUES
        (#{title}, #{imagePath}, #{linkUrl}, 'Y', #{startDate}, #{endDate}, #{posTop}, #{posLeft}, #{priority}, NOW(),
        NOW())
    </insert>
</mapper>
