<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daedong.zipmap.mapper.NoticeMapper">

    <select id="findNoticeAll" resultType="com.daedong.zipmap.domain.NoticeDTO">
        SELECT
        n.id, n.title, f.file_path, n.link_url, n.status, n.start_date, n.end_date, n.priority, n.created_at,
        n.updated_at
        FROM notice n
        LEFT JOIN file f ON n.id = f.target_id AND f.target_type = 'NOTICE'
        ORDER BY status DESC, priority DESC, created_at DESC
    </select>

    <select id="findNoticeAllWithPaging" resultType="com.daedong.zipmap.domain.NoticeDTO">
        SELECT
        n.id, n.title, f.file_path, n.link_url, n.status, n.start_date, n.end_date, n.priority, n.created_at,
        n.updated_at
        FROM notice n
        LEFT JOIN file f ON n.id = f.target_id AND f.target_type = 'NOTICE'
        ORDER BY status DESC, priority DESC, created_at DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countAllNotices" resultType="int">
        SELECT COUNT(id) FROM notice
    </select>



    <select id="findCurrentNoticeList" resultType="com.daedong.zipmap.domain.NoticeDTO">
        SELECT
        n.id, n.title, f.file_path, n.link_url, n.status, n.start_date, n.end_date, n.priority, n.created_at,
        n.updated_at
        FROM notice n
        LEFT JOIN file f ON n.id = f.target_id AND f.target_type = 'NOTICE'
        WHERE n.status='Y' AND NOW() BETWEEN start_date AND end_date
        ORDER BY priority DESC, id DESC
    </select>

    <insert id="insertNotice" parameterType="com.daedong.zipmap.domain.Notice"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO notice
        (title, link_url, status, start_date, end_date, priority, created_at, updated_at)
        VALUES
        (#{title}, #{linkUrl}, 'Y', #{startDate}, #{endDate}, #{priority}, NOW(),
        NOW())
    </insert>

    <update id="updateNotice" parameterType="com.daedong.zipmap.domain.Notice">
        UPDATE notice
        SET title = #{title}, link_url = #{linkUrl},
        status = #{status}, start_date = #{startDate}, end_date = #{endDate},
        priority = #{priority}, updated_at = NOW()
        WHERE id = #{id}
    </update>

    <update id="updateNoticeStatus">
        UPDATE notice
        SET status = #{status}
        WHERE id = #{id}
    </update>

    <select id="findNoticeById" resultType="com.daedong.zipmap.domain.NoticeDTO">
        SELECT
        n.id, n.title, n.link_url, n.status, n.start_date, n.end_date, n.priority,
        n.created_at, n.updated_at, f.file_path
        FROM notice n
        LEFT JOIN file f ON n.id = f.target_id AND f.target_type = 'NOTICE'
        WHERE n.id = #{id}
    </select>

    <delete id="deleteNoticeById">
        DELETE FROM notice WHERE id = #{id}
    </delete>
</mapper>
