<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daedong.zipmap.mapper.ProsMapper">

    <!-- 장점 추가 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO review_attribute
        (review_id, attribute)
        VALUES
        (#{reviewId}, #{attribute})
    </insert>

    <!-- 장점 삭제 -->
    <delete id="deleteByReviewId" parameterType="long">
        DELETE FROM review_attribute
        WHERE review_id = #{id}
    </delete>

    <!-- 장점 조회 -->
    <select id="findByReviewId" resultType="com.daedong.zipmap.domain.Pros" parameterType="long">
        SELECT
        id, review_id, attribute
        FROM review_attribute
        WHERE review_id = #{id}
    </select>

</mapper>