<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daedong.zipmap.mapper.ReviewMapper">
    <select id="countTotal" resultType="int">
        SELECT COUNT(r.id)
        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
        <where>
            AND r.review_status = 'ACTIVE' <!-- ACTIVE인것만 보이게 하기 -->
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'titleAddress' or searchType == null">
                        AND (LOWER(r.title) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                        OR LOWER(r.address) LIKE CONCAT('%', LOWER(#{keyword}), '%'))
                    </when>
                    <when test="searchType == 'content'">
                        AND LOWER(r.content) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                    </when>
                </choose>
            </if>

            <if test="(pros != null and pros.size() > 0) or (cons != null and cons.size() > 0)">
                AND (
                <if test="pros != null and pros.size() > 0">
                    EXISTS (
                    SELECT 1 FROM review_attribute pa
                    WHERE pa.review_id = r.id AND pa.type = 'PRO'
                    AND pa.content IN
                    <foreach collection="pros" item="p" open="(" separator="," close=")">
                        #{p}
                    </foreach>
                    )
                </if>

                <if test="pros != null and pros.size() > 0 and cons != null and cons.size() > 0">
                    OR
                </if>

                <if test="cons != null and cons.size() > 0">
                    EXISTS (
                    SELECT 1 FROM review_attribute ca
                    WHERE ca.review_id = r.id AND ca.type = 'CON'
                    AND ca.content IN
                    <foreach collection="cons" item="c" open="(" separator="," close=")">
                        #{c}
                    </foreach>
                    )
                </if>
                )
            </if>
        </where>
    </select>

    <select id="findAll" resultType="com.daedong.zipmap.domain.ReviewDTO" parameterType="map">
        SELECT
        r.id, r.title, r.content, r.address, r.user_id, u.login_id AS loginId, r.point, r.review_status, r.like_count,
        r.view_count, r.created_at, r.updated_at,

        (SELECT GROUP_CONCAT(pa.content) FROM review_attribute pa WHERE pa.review_id = r.id AND pa.type = 'PRO') AS
        prosStr,

        <!-- 2/26 썸네일 추가 기능으로 수정
        (SELECT f.file_path FROM file f WHERE f.target_id = r.id AND f.target_type = 'REVIEW' LIMIT 1) AS filePath-->

        <!-- 2/26 수정: 1순위 대표사진(REVIEW_THUMB), 2순위 일반사진 첫번째(REVIEW) -->
        COALESCE(
        (SELECT f.file_path FROM file f WHERE f.target_id = r.id AND f.target_type = 'REVIEW_THUMB' LIMIT 1),
        (SELECT f.file_path FROM file f WHERE f.target_id = r.id AND f.target_type = 'REVIEW' LIMIT 1)
        ) AS filePath

        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
        <where>
            AND r.review_status = 'ACTIVE' <!-- ACTIVE인것만 보이게 하기 -->
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'titleAddress' or searchType == null" >
                        AND (LOWER(r.title) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                        OR LOWER(r.address) LIKE CONCAT('%', LOWER(#{keyword}), '%'))
                    </when>
                    <when test="searchType == 'content'">
                        AND LOWER(r.content) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                    </when>
                </choose>
            </if>

            <if test="(pros != null and pros.size() > 0) or (cons != null and cons.size() > 0)">
                AND (
                <trim prefixOverrides="OR">

                    <if test="pros != null and pros.size() > 0">
                        EXISTS (
                        SELECT 1 FROM review_attribute pa
                        WHERE pa.review_id = r.id AND pa.type = 'PRO'
                        AND pa.content IN
                        <foreach collection="pros" item="p" open="(" separator="," close=")">
                            #{p}
                        </foreach>
                        )
                    </if>

                    <if test="pros != null and pros.size() > 0 and cons != null and cons.size() > 0">
                        OR
                    </if>

                    <if test="cons != null and cons.size() > 0">
                        EXISTS (
                        SELECT 1 FROM review_attribute ca
                        WHERE ca.review_id = r.id AND ca.type = 'CON'
                        AND ca.content IN
                        <foreach collection="cons" item="c" open="(" separator="," close=")">
                            #{c}
                        </foreach>
                        )
                    </if>

                </trim>
                )
            </if>
        </where>
        ORDER BY r.id DESC

        <if test="pageable != null">
            LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
        </if>
    </select>

    <!-- 리뷰 작성 -->
    <insert id="insertReview" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO review
        (title, content, address, user_id, point, review_status)
        VALUES
        (#{title}, #{content}, #{address}, #{userId}, #{point}, #{reviewStatus})
    </insert>

    <insert id="insertAttributesAll">
        INSERT INTO review_attribute
        (review_id, type, content)
        VALUES
        <foreach collection="attributeList" item="item" separator=",">
            (#{reviewId}, #{type}, #{item})
        </foreach>
    </insert>

    <!-- 리뷰 detail -->
    <resultMap id="reviewDetailMap" type="com.daedong.zipmap.domain.ReviewDTO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="address" column="address"/>
        <result property="userId" column="user_id"/>
        <result property="loginId" column="login_id"/>
        <result property="point" column="point"/>
        <result property="reviewStatus" column="review_status"/>
        <result property="likeCount" column="like_count"/>
        <result property="viewCount" column="view_count"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <!-- 리뷰글 아이디로 찾기 -->
    <select id="findById" resultMap="reviewDetailMap">
        SELECT
        r.id, r.title, r.content, r.address, r.user_id, r.point,
        r.review_status, r.created_at, r.updated_at, u.login_id,
        /* 서브쿼리를 사용하여 가장 먼저 등록된 인증 사진 하나만 가져옵니다 */
        (SELECT f.file_path
        FROM file f
        JOIN certification c ON f.target_id = c.id
        WHERE c.review_id = r.id AND f.target_type = 'CERTIFICATION'
        LIMIT 1) AS filePath
        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
        WHERE r.id = #{id}
    </select>

    <!-- 장단점 -->
    <select id="findAttributesByReviewId" resultType="com.daedong.zipmap.domain.ReviewAttribute">
        SELECT
        id, review_id, type, content
        FROM review_attribute
        WHERE review_id = #{id}
    </select>

    <!-- 리뷰 수정 -->
    <update id="update" parameterType="com.daedong.zipmap.domain.Review">
        UPDATE review
        SET title = #{title},
        content = #{content},
        address = #{address},
        point = #{point}
        WHERE id = #{id}
    </update>

    <delete id="deleteAttributeByReviewId" parameterType="long">
        DELETE FROM review_attribute
        WHERE review_id = #{id}
    </delete>

    <!-- 리뷰 삭제 -->
    <delete id="deleteReviewById">
        DELETE FROM review
        WHERE id = #{id}
    </delete>

    <delete id="deleteReplyByReviewId">
        DELETE FROM reply
        WHERE target_type = 'REVIEW'
        AND target_id = #{id}
    </delete>

    <delete id="deleteReactionByReviewId">
        DELETE FROM reaction
        WHERE target_type = 'REVIEW'
        AND target_id = #{id}
    </delete>

    <!-- 내가 쓴 리뷰 조회 -->
    <select id="findByUserId" resultType="com.daedong.zipmap.domain.ReviewDTO">
        SELECT
        id, title, content, address, user_id, point, review_status, created_at, updated_at
        FROM review
        WHERE user_id = #{userId}
        ORDER BY id DESC
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>

    <select id="countByUserId" resultType="int">
        SELECT COUNT(id)
        FROM review
        WHERE user_id = #{userId}
        AND review_status = 'ACTIVE'
    </select>

    <select id="findOrderByCreatedAtDescLimit4" resultType="com.daedong.zipmap.domain.ReviewDTO">
        SELECT
        r.id, r.title, r.content, r.address, r.user_id, u.login_id AS loginId, r.point, r.review_status, r.created_at,
        r.updated_at,

        COALESCE(
        (SELECT f.file_path FROM file f WHERE f.target_id = r.id AND f.target_type = 'REVIEW_THUMB' LIMIT 1),
        (SELECT f.file_path FROM file f WHERE f.target_id = r.id AND f.target_type = 'REVIEW' LIMIT 1)
        ) AS filePath

        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
        WHERE r.review_status = 'ACTIVE'
        ORDER BY r.created_at DESC
        LIMIT 4
    </select>

    <!--    추가 2/13 -->
    <update id="updateContent">
        UPDATE review
        SET content = #{content}
        WHERE id = #{id}
    </update>

    <select id="adminFindAll" resultType="com.daedong.zipmap.domain.ReviewDTO" parameterType="map">
        SELECT
        r.id, r.title, r.content, r.address, r.user_id, u.login_id AS loginId, r.point, r.review_status, r.like_count,
        r.view_count, r.created_at, r.updated_at
        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'titleAddress'">
                        AND (LOWER(r.title) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                        OR LOWER(r.address) LIKE CONCAT('%', LOWER(#{keyword}), '%'))
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY r.id DESC
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>

    <select id="adminCountTotal" resultType="int">
        SELECT COUNT(id) FROM review
        <where>
            <if test="keyword != null and keyword != ''">
                AND (title LIKE CONCAT('%', #{keyword}, '%') OR address LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <!-- 실거주 인증 -->
    <insert id="insertCertification" parameterType="com.daedong.zipmap.domain.Certification"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO certification (
        user_id, review_id, certification_status, created_at
        ) VALUES (
        #{userId}, #{reviewId}, #{certificationStatus}, NOW()
        )
    </insert>

    <update id="updateReviewStatus">
        UPDATE review
        SET review_status = #{status}
        WHERE id = #{reviewId}
    </update>
    <!-- 관리자 리뷰 실거주인증, PENDING 부분들만 보이게 하기 -->
    <select id="findBannedReviews" resultType="com.daedong.zipmap.domain.ReviewDTO">
        SELECT
        r.id,
        r.title,
        r.address,
        r.user_id,
        u.login_id AS loginId,
        r.point,
        r.review_status,
        r.created_at,
<!--        f.file_path AS filePath-->
<!--        사진이 올라올 때 실거주 인증 사진이 올라오도록 하기 위해서 쿼리문을 수정했습니다 -->
        (SELECT f.file_path
        FROM file f
        JOIN certification c ON f.target_id = c.id
        WHERE c.review_id = r.id
        AND f.target_type = 'CERTIFICATION'
        ORDER BY c.id DESC LIMIT 1) AS filePath
        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
<!--        LEFT JOIN file f ON r.id = f.target_id AND f.target_type = 'REVIEW'-->
        WHERE r.review_status = 'PENDING'
        ORDER BY r.id DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countBannedReviews" resultType="int">
        SELECT COUNT(*) FROM review WHERE review_status = 'PENDING'
    </select>

    <update id="updateReviewStatsBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            UPDATE review
            SET
            like_count = like_count + #{item.likeCount},
            view_count = view_count + #{item.viewCount}
            WHERE id = #{item.id}
        </foreach>
    </update>

    <!-- AI 요약을 위해 특정 지역의 리뷰 내용만 모두 가져오는 메서드 2/23 추가 -->
    <select id="findContentsByRegion" resultType="string" parameterType="string">
        SELECT CONCAT(
        '[장점: ',
        IFNULL((SELECT GROUP_CONCAT(pa.content) FROM review_attribute pa WHERE pa.review_id = r.id AND pa.type = 'PRO'),
        '없음'),
        '] [단점: ',
        IFNULL((SELECT GROUP_CONCAT(ca.content) FROM review_attribute ca WHERE ca.review_id = r.id AND ca.type = 'CON'),
        '없음'),
        '] 리뷰 내용: ',
        r.content
        )
        FROM review r
        WHERE r.address LIKE CONCAT('%', #{region}, '%')
        AND r.review_status = 'ACTIVE'
        ORDER BY r.created_at DESC
        LIMIT 10
    </select>

    <select id="findByKeywordReviews" resultType="com.daedong.zipmap.domain.ReviewDTO" parameterType="string">
        SELECT
        id, title, content, address, user_id, point, review_status
        FROM review
        WHERE title LIKE CONCAT('%', #{keyword}, '%')
        OR content LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY id DESC
        LIMIT 3
    </select>

    <select id="countPendingCertifications">
        SELECT COUNT(*) FROM certification WHERE certification_status = 'PENDING'
    </select>

    <!-- 2/26 추가 썸네일-->
    <insert id="insertThumbnail">
        INSERT INTO file (target_type, target_id, file_path)
        VALUES ('REVIEW_THUMB', #{targetId}, #{filePath})
    </insert>

    <!-- Certification 수정 -> 글 읽으면 수정 되도록 -->
    <update id="updateCertificationStatus">
        UPDATE certification
        SET certification_status = #{status}
        WHERE review_id = #{reviewId}
    </update>

</mapper>
