<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daedong.zipmap.mapper.ReviewMapper">

    <select id="countTotal" resultType="int">
        SELECT COUNT(r.id)
        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'titleAddress'">
                        AND (LOWER(r.title) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                        OR LOWER(r.address) LIKE CONCAT('%', LOWER(#{keyword}), '%'))
                    </when>
                    <when test="searchType == 'content'">
                        AND LOWER(r.content) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                    </when>
                </choose>
            </if>

            <if test="(pros != null and pros.size() > 0) or (cons != null and cons.size() > 0)">
                AND (
                <if test="pros != null and pros.size() > 0">
                    <foreach collection="pros" item="p" open="(" separator=" OR " close=")">
                        LOWER(r.content) LIKE CONCAT('%', LOWER(#{p}), '%')
                    </foreach>
                </if>
                <if test="cons != null and cons.size() > 0">
                    <if test="pros != null and pros.size() > 0">
                        OR
                    </if>
                    <foreach collection="cons" item="c" open="(" separator=" OR " close=")">
                        LOWER(r.content) LIKE CONCAT('%', LOWER(#{c}), '%')
                    </foreach>
                </if>
                )
            </if>
        </where>
    </select>

    <select id="findAll" resultType="com.daedong.zipmap.domain.ReviewDTO" parameterType="map">
        SELECT
        r.id,
        r.title,
        r.content,
        r.address,
        r.user_id,
        u.login_id AS loginId,
        r.point,
        r.review_status,
        r.created_at,
        r.updated_at
        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'titleAddress'">
                        AND (LOWER(r.title) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                        OR LOWER(r.address) LIKE CONCAT('%', LOWER(#{keyword}), '%'))
                    </when>
                    <when test="searchType == 'content'">
                        AND LOWER(r.content) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                    </when>
                </choose>
            </if>

            <if test="(pros != null and pros.size() > 0) or (cons != null and cons.size() > 0)">
                AND (
                <if test="pros != null and pros.size() > 0">
                    <foreach collection="pros" item="p" open="(" separator=" OR " close=")">
                        LOWER(r.content) LIKE CONCAT('%', LOWER(#{p}), '%')
                    </foreach>
                </if>
                <if test="cons != null and cons.size() > 0">
                    <if test="pros != null and pros.size() > 0">
                        OR
                    </if>
                    <foreach collection="cons" item="c" open="(" separator=" OR " close=")">
                        LOWER(r.content) LIKE CONCAT('%', LOWER(#{c}), '%')
                    </foreach>
                </if>
                )
            </if>
        </where>
        <if test="pageable != null">
            ORDER BY r.id DESC
            LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
        </if>
    </select>

    <!-- 리뷰 작성 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO review
        (title, content, address, user_id, point, review_status)
        VALUES
        (#{title}, #{content}, #{address}, #{userId}, #{point}, #{reviewStatus})
    </insert>

    <!-- 리뷰글 아이디로 찾기 -->
    <select id="findById" resultType="com.daedong.zipmap.domain.ReviewDTO">
        SELECT
        r.id,
        r.title,
        r.content,
        r.address,
        r.user_id AS userId,
        r.point,
        r.review_status AS reviewStatus,
        r.created_at AS createdAt,
        r.updated_at AS updatedAt,
        u.login_id AS loginId
        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
        WHERE r.id = #{id}
    </select>

    <!-- 리뷰 수정 -->
    <update id="edit" parameterType="com.daedong.zipmap.domain.Review">
        UPDATE review
        SET title = #{title},
        content = #{content},
        address = #{address},
        point = #{point}
        WHERE id = #{id}
    </update>

    <!-- 리뷰 삭제 -->
    <delete id="deleteReviewById">
        DELETE FROM review
        WHERE id = #{id}
    </delete>

    <!-- 내가 쓴 리뷰 조회 -->
    <select id="findByUserId" resultType="com.daedong.zipmap.domain.ReviewDTO">
        SELECT
        r.id,
        r.title,
        r.content,
        r.address,
        r.user_id AS userId,
        r.point,
        r.review_status AS reviewStatus,
        r.created_at AS createdAt,
        r.updated_at AS updatedAt
        FROM review r
        WHERE r.user_id = #{userId}
        ORDER BY r.id DESC
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>

    <select id="countByUserId" resultType="int">
        SELECT COUNT(id)
        FROM review
        WHERE user_id = #{userId}
    </select>

    <select id="findOrderByCreatedAtDescLimit4" resultType="com.daedong.zipmap.domain.ReviewDTO">
        SELECT
        r.id,
        r.title,
        r.content,
        r.address,
        r.user_id,
        u.login_id AS loginId,
        r.point,
        r.review_status,
        r.created_at,
        r.updated_at
        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
        WHERE r.review_status = 'ACTIVE'
        ORDER BY r.created_at DESC
        LIMIT 4
    </select>
</mapper>
