<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daedong.zipmap.mapper.ReviewMapper">
    <resultMap id="ReviewDetailMap" type="com.daedong.zipmap.domain.ReviewDTO">
        <id property="id" column="review_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="address" column="address"/>
        <result property="userId" column="user_id"/>
        <result property="point" column="point"/>
        <result property="reviewStatus" column="review_status"/>
        <result property="likeCount" column="like_count"/>
        <result property="viewCount" column="view_count"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="loginId" column="login_id"/>

        <collection property="reactionList" ofType="com.daedong.zipmap.domain.Reaction">
            <id property="id" column="reaction_id"/>
            <result property="targetType" column="re_target_type"/>
            <result property="targetId" column="re_target_id"/>
            <result property="userId" column="re_user_id"/>
            <result property="type" column="re_type"/>
            <result property="createdAt" column="re_created_at"/>
        </collection>

        <collection property="fileList" ofType="com.daedong.zipmap.domain.File">
            <id property="id" column="file_id"/>
            <result property="targetType" column="f_target_type"/>
            <result property="targetId" column="f_target_id"/>
            <result property="filePath" column="file_path"/>
            <result property="fileSize" column="file_size"/>
        </collection>

        <collection property="replyList" ofType="com.daedong.zipmap.domain.ReplyDTO">
            <id property="id" column="reply_id"/>
            <result property="userId" column="rep_user_id"/>
            <result property="content" column="rep_content"/>
            <result property="createdAt" column="rep_created_at"/>

            <result property="loginId" column="rep_login_id"/>
        </collection>

        <collection property="prosList" ofType="java.lang.String">
            <result column="pro_content"/>
        </collection>

        <collection property="consList" ofType="java.lang.String">
            <result column="con_content"/>
        </collection>
    </resultMap>

    <select id="countTotal" resultType="int">
        SELECT COUNT(r.id)
        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'titleAddress'">
                        AND (LOWER(r.title) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                        OR LOWER(r.address) LIKE CONCAT('%', LOWER(#{keyword}), '%'))
                    </when>
                    <when test="searchType == 'content'">
                        AND LOWER(r.content) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                    </when>
                </choose>
            </if>

            <if test="(pros != null and pros.size() > 0) or (cons != null and cons.size() > 0)">
                AND (
                <if test="pros != null and pros.size() > 0">
                    EXISTS (
                    SELECT 1 FROM review_attribute pa
                    WHERE pa.review_id = r.id AND pa.type = 'PRO'
                    AND pa.content IN
                    <foreach collection="pros" item="p" open="(" separator="," close=")">
                        #{p}
                    </foreach>
                    )
                </if>

                <if test="pros != null and pros.size() > 0 and cons != null and cons.size() > 0">
                    OR
                </if>

                <if test="cons != null and cons.size() > 0">
                    EXISTS (
                    SELECT 1 FROM review_attribute ca
                    WHERE ca.review_id = r.id AND ca.type = 'CON'
                    AND ca.content IN
                    <foreach collection="cons" item="c" open="(" separator="," close=")">
                        #{c}
                    </foreach>
                    )
                </if>
                )
            </if>
        </where>
    </select>

    <select id="findAll" resultType="com.daedong.zipmap.domain.ReviewDTO" parameterType="map">
        SELECT
        r.id, r.title, r.content, r.address, r.user_id, u.login_id AS loginId, r.point, r.review_status, r.like_count,
        r.view_count, r.created_at, r.updated_at,

        (SELECT GROUP_CONCAT(pa.content) FROM review_attribute pa WHERE pa.review_id = r.id AND pa.type = 'PRO') AS prosStr

        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
        <where>
            AND r.review_status = 'ACTIVE' <!-- ACTIVE인것만 보이게 하기 -->
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'titleAddress'">
                        AND (LOWER(r.title) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                        OR LOWER(r.address) LIKE CONCAT('%', LOWER(#{keyword}), '%'))
                    </when>
                    <when test="searchType == 'content'">
                        AND LOWER(r.content) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                    </when>
                </choose>
            </if>

            <if test="(pros != null and pros.size() > 0) or (cons != null and cons.size() > 0)">
                AND (
                <if test="pros != null and pros.size() > 0">
                    EXISTS (
                    SELECT 1 FROM review_attribute pa
                    WHERE pa.review_id = r.id AND pa.type = 'PRO'
                    AND pa.content IN
                    <foreach collection="pros" item="p" open="(" separator="," close=")">
                        #{p}
                    </foreach>
                    )
                </if>

                <if test="pros != null and pros.size() > 0 and cons != null and cons.size() > 0">
                    OR
                </if>

                <if test="cons != null and cons.size() > 0">
                    EXISTS (
                    SELECT 1 FROM review_attribute ca
                    WHERE ca.review_id = r.id AND ca.type = 'CON'
                    AND ca.content IN
                    <foreach collection="cons" item="c" open="(" separator="," close=")">
                        #{c}
                    </foreach>
                    )
                </if>
                )
            </if>
        </where>
        <if test="pageable != null">
            ORDER BY r.id DESC
            LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
        </if>
    </select>

    <select id="getReviewDetail" resultMap="ReviewDetailMap">
        SELECT
        r.id AS review_id, r.title, r.content, r.address, r.user_id, r.point,
        r.review_status, r.like_count, r.view_count, r.created_at, r.updated_at,
        u.login_id,

        re.id AS reaction_id, re.target_type AS re_target_type, re.target_id AS re_target_id,
        re.user_id AS re_user_id, re.type AS re_type, re.created_at AS re_created_at,

        f.id AS file_id, f.target_type AS f_target_type, f.target_id AS f_target_id,
        f.file_path, f.file_size,

        rep.id AS reply_id, rep.user_id AS rep_user_id, rep.content AS rep_content,
        rep.created_at AS rep_created_at, u2.login_id AS rep_login_id,

        -- 장단점 분리 조인
        pa.content AS pro_content,
        ca.content AS con_content

        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
        LEFT JOIN reaction re ON r.id = re.target_id AND re.target_type = 'REVIEW'
        LEFT JOIN file f ON r.id = f.target_id AND f.target_type = 'REVIEW'
        LEFT JOIN reply rep ON r.id = rep.target_id AND rep.target_type = 'REVIEW'
        LEFT JOIN user u2 ON rep.user_id = u2.id
        -- 장점(PRO) 조인
        LEFT JOIN review_attribute pa ON r.id = pa.review_id AND pa.type = 'PRO'
        -- 단점(CON) 조인
        LEFT JOIN review_attribute ca ON r.id = ca.review_id AND ca.type = 'CON'

        WHERE r.id = #{id}
    </select>

    <!-- 리뷰 작성 -->
    <insert id="insertReview" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO review
        (title, content, address, user_id, point, review_status)
        VALUES
        (#{title}, #{content}, #{address}, #{userId}, #{point}, 'ACTIVE')
    </insert>

    <insert id="insertAttributesAll">
        INSERT INTO review_attribute
        (review_id, type, content)
        VALUES
        <foreach collection="attributeList" item="item" separator=",">
            (#{reviewId}, #{type}, #{item})
        </foreach>
    </insert>

    <!--    &lt;!&ndash; 리뷰글 아이디로 찾기 &ndash;&gt;-->
    <!--    <select id="findById" resultType="com.daedong.zipmap.domain.ReviewDTO">-->
    <!--        SELECT-->
    <!--        r.id,-->
    <!--        r.title,-->
    <!--        r.content,-->
    <!--        r.address,-->
    <!--        r.user_id AS userId,-->
    <!--        r.point,-->
    <!--        r.review_status AS reviewStatus,-->
    <!--        r.created_at AS createdAt,-->
    <!--        r.updated_at AS updatedAt,-->
    <!--        u.login_id AS loginId-->
    <!--        FROM review r-->
    <!--        LEFT JOIN user u ON r.user_id = u.id-->
    <!--        WHERE r.id = #{id}-->
    <!--    </select>-->

    <!-- 리뷰 수정 -->
    <update id="update" parameterType="com.daedong.zipmap.domain.Review">
        UPDATE review
        SET title = #{title},
        content = #{content},
        address = #{address},
        point = #{point}
        WHERE id = #{id}
    </update>

    <delete id="deleteAttributeByReviewId" parameterType="long">
        DELETE FROM review_attribute
        WHERE review_id = #{id}
    </delete>

    <!-- 리뷰 삭제 -->
    <delete id="deleteReviewById">
        DELETE FROM review
        WHERE id = #{id}
    </delete>

    <delete id="deleteReplyByReviewId">
        DELETE FROM reply
        WHERE target_type = 'REVIEW'
        AND target_id = #{id}
    </delete>

    <delete id="deleteReactionByReviewId">
        DELETE FROM reaction
        WHERE target_type = 'REVIEW'
        AND target_id = #{id}
    </delete>

    <!--    &lt;!&ndash; 내가 쓴 리뷰 조회 &ndash;&gt;-->
    <!--    <select id="findByUserId" resultType="com.daedong.zipmap.domain.ReviewDTO">-->
    <!--        SELECT-->
    <!--        r.id,-->
    <!--        r.title,-->
    <!--        r.content,-->
    <!--        r.address,-->
    <!--        r.user_id AS userId,-->
    <!--        r.point,-->
    <!--        r.review_status AS reviewStatus,-->
    <!--        r.created_at AS createdAt,-->
    <!--        r.updated_at AS updatedAt-->
    <!--        FROM review r-->
    <!--        WHERE r.user_id = #{userId}-->
    <!--        ORDER BY r.id DESC-->
    <!--        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}-->
    <!--    </select>-->

    <!--    <select id="countByUserId" resultType="int">-->
    <!--        SELECT COUNT(id)-->
    <!--        FROM review-->
    <!--        WHERE user_id = #{userId}-->
    <!--    </select>-->

    <select id="findOrderByCreatedAtDescLimit4" resultType="com.daedong.zipmap.domain.ReviewDTO">
        SELECT
        r.id, r.title, r.content, r.address, r.user_id, u.login_id AS loginId, r.point, r.review_status, r.created_at,
        r.updated_at
        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
        WHERE r.review_status = 'ACTIVE'
        ORDER BY r.created_at DESC
        LIMIT 4
    </select>

    <!--    추가 2/13 -->
    <update id="updateContent">
        UPDATE review
        SET content = #{content}
        WHERE id = #{id}
    </update>

    <select id="adminFindAll" resultType="com.daedong.zipmap.domain.ReviewDTO" parameterType="map">
        SELECT
        r.id, r.title, r.content, r.address, r.user_id, u.login_id AS loginId, r.point, r.review_status, r.like_count,
        r.view_count, r.created_at, r.updated_at
        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'titleAddress'">
                        AND (LOWER(r.title) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                        OR LOWER(r.address) LIKE CONCAT('%', LOWER(#{keyword}), '%'))
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY r.id DESC
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>

    <select id="adminCountTotal" resultType="int">
        SELECT COUNT(id) FROM review
        <where>
            <if test="keyword != null and keyword != ''">
                AND (title LIKE CONCAT('%', #{keyword}, '%') OR address LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <!-- 실거주 인증 -->
    <insert id="insertCertification" parameterType="com.daedong.zipmap.domain.Certification"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO certification (
        user_id, review_id, certification_status, created_at
        ) VALUES (
        #{userId}, #{reviewId}, 'PENDING', NOW()
        )
    </insert>

    <update id="updateReviewStatusToBanned">
        UPDATE review
        SET review_status = #{status}
        WHERE id = #{reviewId}
    </update>
<!-- 관리자 리뷰 실거주인증, BANNED된 부분들만 보이게 하기 -->
    <select id="findBannedReviews" resultType="com.daedong.zipmap.domain.ReviewDTO">
        SELECT
        r.id,
        r.title,
        r.address,
        r.user_id,
        u.login_id AS loginId,
        r.point,
        r.review_status,
        r.created_at,
        f.file_path AS filePath
        FROM review r
        LEFT JOIN user u ON r.user_id = u.id
        LEFT JOIN file f ON r.id = f.target_id AND f.target_type = 'REVIEW'
        WHERE r.review_status = 'BANNED'
        ORDER BY r.id DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countBannedReviews" resultType="int">
        SELECT COUNT(*) FROM review WHERE review_status = 'BANNED'
    </select>

</mapper>
