<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daedong.zipmap.mapper.UserMapper">

    <select id="findByNameAndEmail" resultType="com.daedong.zipmap.domain.User">
        SELECT
        id, login_id, password, name, gender, phone, email, address, role, account_status, created_at, updated_at
        FROM user
        WHERE name = #{name} AND email = #{email}
    </select>

    <select id="findByLoginId" resultType="com.daedong.zipmap.domain.User">
        SELECT id, login_id, password, name, gender, phone, email, address, role, account_status, created_at, updated_at
        FROM user
        WHERE login_id = #{loginId}
    </select>

    <insert id="save">
        INSERT INTO user (login_id, password, name, gender, phone, email, address)
        VALUES (#{loginId}, #{password}, #{name}, #{gender}, #{phone}, #{email}, #{address})
    </insert>

    <select id="findById" resultType="com.daedong.zipmap.domain.User">
        SELECT
        id, login_id, password, name, gender, phone, email, address, role, account_status, created_at, updated_at
        FROM user
        WHERE id = #{id}
    </select>

    <select id="findByLoginIdNameEmail" resultType="com.daedong.zipmap.domain.User">
        SELECT
        id, login_id, password, name, gender, phone, email, address, role, account_status, created_at, updated_at
        FROM user
        WHERE login_id = #{loginId} AND name = #{name} AND email = #{email}
    </select>
</mapper>
