<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daedong.zipmap.domain.member.mapper.UserMapper">

    <select id="findByNameAndEmail" resultType="com.daedong.zipmap.domain.member.entity.User">
        SELECT
        id, login_id, password, name, gender, email, address, role, account_status, created_at, updated_at
        FROM user
        WHERE name = #{name} AND email = #{email}
    </select>

    <select id="findByLoginId" resultType="com.daedong.zipmap.domain.member.entity.User">
        SELECT
        id, login_id, password, name, gender, email, address, role, account_status, created_at, updated_at
        FROM user
        WHERE login_id = #{loginId}
    </select>

    <insert id="save">
        <!--
        INSERT INTO user (login_id, password, name, gender, email, address, role)
        VALUES (#{loginId}, #{password}, #{name}, #{gender}, #{email}, #{address}, "VIEWER") -->

        <!-- 2/24 수정-->

        INSERT INTO user (login_id, password, name, gender, email, address, role, account_status)
        VALUES (#{loginId}, #{password}, #{name}, #{gender}, #{email}, #{address}, #{role}, #{accountStatus})


    </insert>

    <select id="findById" resultType="com.daedong.zipmap.domain.member.entity.User">
        SELECT
        id, login_id, password, name, gender, email, address, role, account_status, created_at, updated_at
        FROM user
        WHERE id = #{id}
    </select>

    <select id="findByLoginIdAndNameAndEmail" resultType="com.daedong.zipmap.domain.member.entity.User">
        SELECT
        id, login_id, password, name, gender, email, address, role, account_status, created_at, updated_at
        FROM user
        WHERE login_id = #{loginId} AND name = #{name} AND email = #{email}
    </select>

    <update id="update">
        UPDATE user
        <set>
            updated_at = NOW(),

            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender}
            </if>
        </set>
        WHERE id = #{id}

    </update>

    <delete id="delete">
        DELETE FROM user
        WHERE id = #{id}
    </delete>

    <select id="findAllUsersForAdmin" resultType="com.daedong.zipmap.domain.member.entity.User">
        SELECT
        id, login_id, name, gender, email, address, role, account_status, created_at, updated_at
        FROM user
        WHERE role != 'ADMIN'
        ORDER BY id DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countAllUsersForAdmin" resultType="int">
        SELECT COUNT(id)
        FROM user
        WHERE role != 'ADMIN'
    </select>

    <!-- 회원 계정 상태 수정 기능을 위한 쿼리 2026.02.11 종빈 수정 -->
    <update id="updateUserStatusAndRole" parameterType="com.daedong.zipmap.domain.member.entity.User">
        UPDATE user
        <set>
            <if test="role != null">role = #{role},</if>
            <if test="accountStatus != null">account_status = #{accountStatus},</if>
            updated_at = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <insert id="insertToken" parameterType="com.daedong.zipmap.domain.member.entity.Token">
        INSERT INTO token (user_id, token, created_at, expired_at, requested_ip)
        VALUES (#{userId}, #{token}, #{createdAt}, #{expiredAt}, #{requestedIp})
    </insert>

    <select id="selectValidToken" resultType="com.daedong.zipmap.domain.member.entity.Token">
        SELECT
        id, user_id, token, created_at, expired_at, used_yn, requested_ip, used_ip
        FROM token
        WHERE token = #{token} AND used_yn = 'N' AND expired_at > NOW()
    </select>

    <update id="updateToken" parameterType="com.daedong.zipmap.domain.member.entity.Token">
        UPDATE token
        SET used_yn = #{usedYn},
        used_ip = #{usedIp}
        WHERE id = #{id}
    </update>



</mapper>
