<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
</head>
<body>
<h1>웰컴페이지</h1>
<div sec:authorize="isAuthenticated()">
  <p>안녕하세요, <span th:text="${#authentication.principal.name}" 님! 환영합니다.</p>
</div>

<div sec:authorize="isAnonymous()">
  <p> 로그인 하세요.</p>
  <a th:href="@{/login}">로그인</a>
</div>

<div sec:authorize="isAnonymous()">
  <p> 회원이 아니신가요 ?</p>
  <a th:href="@{/signup}">회원가입</a>
</div>
</body>
</html>