/* 디자인 컬러 시스템 */
:root {
  --main-orange: #3f8a7e;
  --bg-tan: #f9f7f2;
  --text-dark: #333;
  --text-muted: #888;
  --dark-wood: #3E362E; /* 대동여집도 메인 다크 브라운 */
}

body {
  background-color: #f5f4ef;
  font-family: "NanumBareunGothicOldHangeul", sans-serif !important;
  color: var(--text-dark);
  line-height: 1.6;
}

/* '대동여지도' 혹은 프로젝트명에 사용할 독립체 전용 클래스 */
.font-independent {
  font-family: 'Jeongmeokbawi', sans-serif !important;
  font-weight: normal !important;
}

/* 네비게이션 커스텀 */
.daedong-logo {
  font-family: 'Jeongmeokbawi', sans-serif !important;
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--text-dark) !important;
}


.text-orange {
  color: var(--main-orange) !important;
}

.btn-orange {
  background-color: var(--main-orange) !important;
  color: white !important;
  border: none !important;
  transition: background-color 0.2s;
}

.btn-orange:hover {
  background-color: #325e5a !important;
}

/* 부트스트랩 기본 폼 보정 */
.form-control {
  padding: 0.75rem 1rem;
  border: 1px solid #eee;
}

.form-control:focus {
  border-color: var(--main-orange);
  box-shadow: 0 0 0 0.25rem rgba(230, 126, 34, 0.1);
}

.rounded-pill {
  border-radius: 50px !important;
}


